<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 学习spring security，实现具有角色的访问控制，并在这里实现配置 -->
	<security:http security="none" pattern="/index.jsp" />
   	<security:http security="none" pattern="/login.jsp" />
   	<security:http auto-config="true">
    	<security:form-login login-page="/login.jsp"
        	login-processing-url="/login.do" 
         	username-parameter="username"
         	password-parameter="password" />
        <security:logout logout-url="/logout"/>
        <security:intercept-url pattern="/users" access="ROLE_ADMIN" />
        <security:intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN" />
   	</security:http>
    
    
   <security:authentication-manager alias="authenticationManager">
   		<security:authentication-provider>
            <password-encoder ref="encoder" />
         	<security:jdbc-user-service
	            data-source-ref="dataSource"
	            users-by-username-query="select username, password, enabled from user where username = ?" 
	            authorities-by-username-query="select username, rolecode from user where username = ?"/>
      	</security:authentication-provider>
   </security:authentication-manager>
   
   <beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
  	</beans:bean>
   

</beans:beans>